@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.banner-border {
	background-image: linear-gradient(
		0deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(21, 93, 252, 1) 100%
	);
	background-origin: border-box;
	background-clip: border-box;
	border: 2px solid transparent;
}

.dark {
	.banner-border {
		background-image: linear-gradient(
			0deg,
			rgba(18, 18, 18, 1) 0%,
			rgba(21, 93, 252, 1) 100%
		);
	}
}

